.filter-section {
  display: flex;
  margin: auto;
  opacity: .9;
  /* font-weight: 200; */
}

.filter-section h3 {
  /* font-weight: 200; */
  margin-left: 5px;
}

.buttons {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  min-height: 125px;
}

.filter-button {
  width: 100px;
  height: 35px;
  border-radius: 4px;
  box-shadow: 0 1px 2px grey;
  border: none;
  margin: 0 5px 5px 5px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 2px;
  font-weight: bold;
}

.filter-button:active {
  background-color: #00848A;
}

.map {
  width: 80%;
  margin: auto;
  height: 400px;
}

.type-of-apartment {
  flex: 1
}

.borough {
  flex: 1;
}

.neighborhoods {
  flex: 2;
}